  <mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8"  >
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <mat-header-cell mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
  </ng-container>

   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns --> -->
   <ng-container matColumnDef="expandedDetail">
    <mat-cell mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <!-- changing the content -->
          <div class="col-md-2"> {{element.name}} </div>
          <div class="col-md-2"> {{element.email}} </div>
          <div class="col-md-2"> {{element.mobilenumber}} </div>
          <div class="col-md-2"> {{element.state}} </div>
          <div class="col-md-2"> {{element.country}} </div>
          <div class="col-md-2"> {{element.username}} </div>
        <div class="col-md-12">{{element.mobilenumber}}</div>
      </div>
      </mat-cell>
  </ng-container>

  <mat-row mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-row>
  <mat-row mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </mat-row>
  <mat-row mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
</mat-table> 
