<div class="col-md-12">
    <!-- <app-card cardTitle="Inverse Table" blockClass="table-border-style"> -->
      <div class="table-responsive">
        <table class="table table-inverse">
          <thead>
          <tr >
            <th>Id</th>
            <th> Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>User Name</th>
            <th>Password</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>@mdo</td>
            <td>9078905678</td>
            <td>Chennai</td>
            <td>Tamilnadu</td>
            <td>India</td>
            <td>Mark mdo</td>
            <td>mark@123</td>
           
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>@fat</td>
            <td>9078905678</td>
            <td>Chennai</td>
            <td>Tamilnadu</td>
            <td>India</td>
            <td>Mark mdo</td>
            <td>mark@123</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>@twitter</td>
            <td>9078905678</td>
            <td>Chennai</td>
            <td>Tamilnadu</td>
            <td>India</td>
            <td>Mark mdo</td>
            <td>mark@123</td>
          </tr>
          </tbody>
        </table>
      </div>
    <!-- </app-card> -->
  </div>