.full-width {
  width: 100%;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-detail .row {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
}

.btn-shadow {
  width: 10px;
  box-shadow: none;
}

.margin-top{
  margin-top:20px;
}

.unlock-button{
  background-color: #9ba1db;
}
.course-list{
  padding:10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
