.full-width {
  width: 100%;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-detail .row {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
}

.btn-shadow {
  width: 10px;
  box-shadow: none;
}

.margin-top {
  margin-top: 20px;
}
div.course-list {
  width: 100%;
  div.row {
    padding: 10px;
    border-bottom: 1px solid #1c214f4f;
    margin-bottom: 10px;
    div.col-md-6 {
      padding-top: 15px;
      font-weight: 400;
      font-size: 14px;
    }
    button.btn-unlock {
      font-weight: 600;
      font-size: 12px;
      color: #2d378c;
      .mat-icon {
        font-size: 25px;
      }
      span.unlock{
        vertical-align: sub;
      }
    }
  }
}



