<div *ngIf="!isShowChapter">
  <button mat-button (click)="isDetailsExit.emit(true)" class="btn btn-primary float-left">Back</button>
  <table mat-table [dataSource]="courseChapterList.purchasedChapterList" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.chapterName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="chaptername">
      <th mat-header-cell *matHeaderCellDef> Chapter Name </th>
      <td mat-cell *matCellDef="let element"> {{element.chapterName}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)="gotodetails(element.chapterId)">
          <mat-icon>remove_red_eye</mat-icon>
        </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>

</div>
<app-mycourse-view *ngIf="isShowChapter" [courseTopicList]="courseTopicList" (isDetailsExit)="isShowChapter=false">

<!-- <app-mycourse-view *ngIf="isShowChapter"  (isDetailsExit)="isShowChapter=false"> -->

</app-mycourse-view>