<div *ngIf="!isShowDetails" >
<button type="button" (click)="addCourse()"class="btn btn-primary m-b-10">Add Course</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="coursename">
    <mat-header-cell *matHeaderCellDef>Course Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.coursename}} </mat-cell>
  </ng-container>

 
  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
  </ng-container>

  <!-- Leaners number Column -->
  <ng-container matColumnDef="learnernumber">
    <mat-header-cell *matHeaderCellDef> Learners Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.learnernumber}} </mat-cell>
  </ng-container>

  <!-- Icon Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell  *matHeaderCellDef > </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button (click)="gotodetails()" ><mat-icon>remove_red_eye</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>

<app-preview-course *ngIf="isShowDetails" (isDetailsExit)="isShowDetails=false">

</app-preview-course> 

