<div *ngIf="!isViewDetails && !isChapterDetails ">
  <div>Course Id :{{course.courseMasterId}}</div>
  <div>Course Name : {{course.courseName}}</div>
  <div><br>About Course:<br>
    <div [innerHTML]="course.description">
    </div>
  </div>
  <div><br>What we Provide:<br>
    <div [innerHTML]="course.provideWhat">
    </div>
  </div>
    <div>
      <button type="button" (click)="gotodetails()" class="btn btn-primary float-left m-b-10">Add Chapter</button>
      <button mat-button (click)="isDetailsExit.emit(true)" class="btn btn-primary m-b-10 float-right">Back</button>
    </div>

    <div>

    </div>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element[column]}} </td> -->
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="col-lg-9">
              topic:1 oops defnition
            </div>
            <div class="col-lg-3 m-l-45">
              <button class="col-lg-6 btn-shadow" mat-button (click)="gotochapter()">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

  </div>
  <app-add-chapter *ngIf="isViewDetails" [course]="course" (isDetailsExit)="isViewDetails=false">
  </app-add-chapter>

  <app-chapter-detail *ngIf="isChapterDetails" (isDetailsExit)="isChapterDetails=false">
  </app-chapter-detail>


 