.text-align{
    text-align: justify;
}
.signin-layout{
    background: linear-gradient(45deg, #33cacf80, #33cacf80);
}
.imgfluid {
    max-width: 29%;
    height: auto;
}
.font-size-20{
    font-size: 20px;
}
.alerts{
    color: red;
}

a{
    color:blue;
}
