<div class="auth-wrapper signin-layout align-items-stretch ">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">
        <img src="assets/images/loogo.png" alt="" class="imgfluid" />
        <h2 class="text-black my-4">Welcome!</h2>
        <h6 class="text-black  text-align" *ngIf="pay==0">
          Lurecap academy welcomes you to our share market trading training classes. We have best trainers who are highly
          qualified and experienced and have relevant industry exposure in their fields of expertise, capable of solving
          all your practical queries.
        </h6>
        <h6 class="text-black  text-align" *ngIf="pay==1">
          Thanks for choosing our course. please Log in to view the course.
        </h6>
      </div>
    </div>
    <div class="auth-side-form">
      <div class="auth-content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <img src="assets/images/loogo.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none" />
          <h3 class="mb-4 f-w-400">SignIn</h3>


          <div class="form-group col">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" placeholder="Enter Your Email" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback m-t-10">
                <div *ngIf="f.username.errors.required">Email is required*</div>
                <!-- <div *ngIf="f.username.errors.email">Email must be a valid email address*</div> -->
              </div>
            </div>
          </div>


          <div class="form-group col">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" placeholder="Password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback m-t-10">
                <div *ngIf="f.password.errors.required">Password is required*</div>
              </div>
            </div>
          </div>
          <div class="form-group col">
            <button class="btn btn-block btn-primary mb-0" (click)="login()">Signin</button>
            <div class="text-center">
              <div class="my-4"></div>
              <a [routerLink]="['/auth/reset-password']" class="f-w-400">Forgot Password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>