<div class="form-group m-t-30">
  <label class="form-label">Topics</label>
  <mat-card>
    <div class="row" *ngIf="topic">
      <div class="col-md-6 form-group">
        <label>Topic Name</label>
        <input type="text" class="form-control" [(ngModel)]="topic.slideName" placeholder="Topic Name">
      </div>
      <div class="col-md-6 form-group">
        <label>URL link</label>
        <input type="text" class="form-control" [(ngModel)]="topic.videoUrl" placeholder="URL link">
      </div>
      <div class="col-md-12 form-group">
        <label>Topic Description</label>
        <app-tinymce #tinymce='tinymce' [(ngModel)]="topic.slideDescription" ></app-tinymce>
      </div>

      <div class="col-md-6 form-group">
        <label>Order No</label>
        <input type="number" class="form-control" [(ngModel)]="topic.orderNo" placeholder="Order No">
      </div>

      <!-- <div class="form-group">
        <label>Add Files</label>
        <div ng-app="MyApp" ng-controller="AppCtrl" layout-margin layout-padding>
          <input class="ng-hide" id="input-file-id" multiple type="file" />
          <label for="input-file-id" class="md-button md-raised md-primary"></label>
        </div>
      </div> -->

    </div>
  </mat-card>
  <div class="m-t-30">
    <button mat-button class="btn btn-primary float-left" (click)="updateChapter()">Save</button>
    <button mat-button class="btn btn-primary float-right" (click)="isDetailsExit.emit(true)">Cancel</button>
  </div>
</div>