<div class="container">
    <div class="col-lg-12">
        <h5 class="modal-title"><i class="feather icon-user mr-1"></i>Edit User Profile</h5>
        <div class="card-body">
            <div class="app-modal-body">
                <div class="text-left">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" required class="form-control" name="name" #name="ngModel"
                            [(ngModel)]="data.name" placeholder="Name">
                    </div>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alerts m-b-20">
                        <div *ngIf="name.errors.required">
                            username is required*
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" [pattern]="emailPattern" required #emailId="ngModel" name="emailId"
                            [(ngModel)]="data.emailId" placeholder="Email">
                    </div>
                    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alerts m-b-20">
                        <div *ngIf="emailId.errors.required">
                            Email is required*
                        </div>
                        <div *ngIf="emailId.errors.pattern">
                            must be Email format*
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" required minlength="10" maxlength="10" #phoneNumber="ngModel"
                            name="phoneNumber" [(ngModel)]="data.phoneNumber" placeholder="Phone Number">
                    </div>
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alerts m-b-20">
                        <div *ngIf="phoneNumber.errors.required">
                            Phone number is required*
                        </div>
                        <div *ngIf="phoneNumber.errors.pattern">
                            mus be in number*
                        </div>
                        <div *ngIf="phoneNumber.errors.minlength">
                            Please give 10 digit number*
                        </div>
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <input type="text" required class="form-control" #city="ngModel" name="city" [(ngModel)]="data.city" placeholder="City">
                    </div>
                    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alerts m-b-20">
                        <div *ngIf="city.errors.required">
                            city is required*
                        </div>
                    </div>

                    <div class="m-b-30">
                        <button mat-button cdkFocusInitial class="btn btn-primary float-left"
                            (click)="updateUserProfile()">Save</button>
                        <button mat-button (click)="onNoClick()" class="btn btn-primary float-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>