<div class=" auth-content">
  <div class="input-group mb-5">
    <h5 class="modal-title"><i class="feather icon-lock mr-1"></i>Change Password</h5>
    <div class="input-group mb-2">
      <input type="password" class="form-control" placeholder="Enter Old Password" required name="oldPassword"
        [(ngModel)]="password.oldPassword" #oldPassword="ngModel">
    </div>
    <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">
        required field
      </div>
    </div>
    <div class="input-group mb-2">
      <input type="password" class="form-control" placeholder="Enter New Password" required name="newPassword"
        [(ngModel)]="password.newPassword" #newPassword="ngModel">
    </div>
    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">
        required field
      </div>
    </div>
    <div class="input-group mb-4">
      <input type="password" class="form-control" placeholder="Re-Enter New Password" required name="confirmPassword"
        [(ngModel)]="password.confirmPassword" #confirmPassword="ngModel">
    </div>
    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
      class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">
        required field
      </div>
    </div>
  </div>
  <div class="m-b-30">
    <button mat-button cdkFocusInitial class="btn btn-primary mb-4 float-left" (click)="getPasswordChange()">Change Password</button>
    <button mat-button (click)="onNoClick()" class="btn btn-primary float-right">Cancel</button>
  </div>
</div>