<div class="container">
  <div class="col-lg-12">
    <h5 class="modal-title"><i class="feather icon-lock mr-1"></i>Change Password</h5>
    <div class="card-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="app-modal-body">
          <div class="text-left">

            <div class="form-row">
              <div class="form-group col">
                <label>Old Password</label>
                <input type="password" placeholder="Enter Old Password" formControlName="oldPassword"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.oldPassword.errors.required">Password is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>New Password</label>
                <input type="password" formControlName="newPassword" class="form-control"
                  placeholder="Enter New Password" name="newPassword"
                  [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required">Password is required</div>
                  <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control"
                  placeholder="Re-Enter New Password"
                  [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" name="confirmPassword">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.confirmedValidator">Passwords must match</div>
                </div>

              </div>
            </div>

            <div class="m-b-30">
              <button mat-button cdkFocusInitial class="btn btn-primary m-b-4 float-left"
                (click)="getPasswordChange()">Change Password</button>
              <button mat-button (click)="onNoClick()" class="btn btn-primary float-right">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>