<!-- <div class="row" *ngIf="!isShowDetails">
    <div class="col-sm-12">
       <app-card [hidHeader]="true" cardClass="user-profile-list"> -->
        <!-- <div class="dt-responsive table-responsive">
          <table datatable class="table table-striped row-border table-hover">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Course ID</th>
                <th>Start date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <tr (click)="gotodetails()">
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Quinn Flynn</h6>
                    <p class="m-b-0">Qf@domain.com</p>
                  </div>
                </div>
              </td>
              <td>Support Lead</td>
              <td>2011/04/25</td>
              <td>
                <span class="badge badge-light-success">Active</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Garrett Winters</h6>
                    <p class="m-b-0">gw@domain.com</p>
                  </div>
                </div>
              </td>
              <td>Accountant</td>
              <td>2011/07/25</td>
              <td>
                <span class="badge badge-light-danger">Disabled</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Ashton Cox</h6>
                    <p class="m-b-0">ac@domain.com</p>
                  </div>
                </div>
              </td>
              <td>Junior Technical Author</td>
              <td>2009/01/12</td>
              <td>
                <span class="badge badge-light-danger">Disabled</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Cedric Kelly</h6>
                    <p class="m-b-0">ck@domain.com</p>
                  </div>
                </div>
              </td>
              <td>Senior Javascript Developer</td>
              <td>2012/03/29</td>
              <td>
                <span class="badge badge-light-success">Active</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Airi Satou</h6>
                    <p class="m-b-0">as@domain.com</p>
                  </div>
                </div>
              </td>
              <td>Accountant</td>
              <td>2008/11/28</td>
              <td>
                <span class="badge badge-light-success">Active</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-5.jpg" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Brielle Williamson</h6>
                    <p class="m-b-0">bw@domain.com</p>
                  </div>
                </div>
              </td>
              <td>Integration Specialist</td>
              <td>2012/12/02</td>
              <td>
                <span class="badge badge-light-danger">Disabled</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
       </app-card> -->
    <!-- </div>
  </div>  -->
  <!-- <app-mycourse-view *ngIf="isShowDetails" (isDetailsExit)="isShowDetails=false">

  </app-mycourse-view> --> 


  <ng-container *ngIf="true">
    hello
  </ng-container>