<!-- <div class="row" *ngIf="!isShowDetails">
    <div class="col-sm-12">
        <div class="dt-responsive table-responsive">
          <table datatable class="table table-striped row-border table-hover">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Total Chapters</th>
                <th>Completed Chapters</th>
                <th>Pending Chapters</th>
              </tr>
            </thead>
            <tbody>
            <tr (click)="gotodetails()">
              <td>
                <div class="d-inline-block align-middle">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Quinn Flynn</h6>
                  </div>
                </div>
              </td>
              <td>Support Lead</td>
              <td>2011/04/25</td>
              <td>
                89
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Garrett Winters</h6>
                  </div>
                </div>
              </td>
              <td>Accountant</td>
              <td>2011/07/25</td>
              <td>
               90
              </td>
            </tr> 
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Ashton Cox</h6>
                  </div>
                </div>
              </td>
              <td>Junior Technical Author</td>
              <td>2009/01/12</td>
              <td>
                56
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Cedric Kelly</h6>
                  </div>
                </div>
              </td>
              <td>Senior Javascript Developer</td>
              <td>2012/03/29</td>
              <td>
                56
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Airi Satou</h6>
                  </div>
                </div>
              </td>
              <td>Accountant</td>
              <td>2008/11/28</td>
              <td>
                23
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-inline-block align-middle">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">Brielle Williamson</h6>
                  </div>
                </div>
              </td>
              <td>Integration Specialist</td>
              <td>2012/12/02</td>
              <td>34</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div> 
   <app-chapter-view *ngIf="isShowDetails" (isDetailsExit)="isShowDetails=false">

  </app-chapter-view> 


   -->

<div *ngIf="!isShowDetails">
  <table mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell (click)="gotodetails()" *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<app-chapter-view *ngIf="isShowDetails" (isDetailsExit)="isShowDetails=false">

</app-chapter-view>