<table mat-table [dataSource]="purchaseManagement.paymentDetails" class="full-width">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Name-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Course -->
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Course</th>
    <td mat-cell *matCellDef="let element">{{ element.course }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Password -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Password</th>
    <td mat-cell *matCellDef="let element">{{ element.passWord }}</td>
  </ng-container>

  <!-- Phone Number-->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
  </ng-container>

  <!-- PaidAmount-->
  <ng-container matColumnDef="paidAmount">
    <th mat-header-cell *matHeaderCellDef>Paid Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.paidAmount }}</td>
  </ng-container>

  <!-- PaidOn-->
  <ng-container matColumnDef="paidOn">
    <th mat-header-cell *matHeaderCellDef>Paid On</th>
    <td mat-cell *matCellDef="let element">{{ element.paidOn }}</td>
  </ng-container>

  <!--Action-->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      <section class="actions-wrapper"></section>
    </th>
    <td mat-cell *matCellDef="let element">
      <section class="actions-wrapper">
        <button mat-button color="primary" disableRipple>
          <mat-icon>edit_outline</mat-icon>
        </button>
      </section>
    </td>
  </ng-container>

  <!--Action-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
