<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fromDate" (ngModelChange)="filter()"
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <span> - </span>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="toDate" (ngModelChange)="filter()"
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
  <!-- ID Column -->
  <ng-container matColumnDef="paymentId">
    <th mat-header-cell *matHeaderCellDef>paymentId</th>
    <td mat-cell *matCellDef="let element">{{ element.paymentId }}</td>
  </ng-container>

  <!-- Name-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="emailId">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
  </ng-container>

  <!-- Phone Number-->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
  </ng-container>

  <!-- PaidAmount-->
  <ng-container matColumnDef="courseAmount">
    <th mat-header-cell *matHeaderCellDef>Course Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.courseAmount }}</td>
  </ng-container>

  <!-- PaidOn-->
  <ng-container matColumnDef="paymentDate">
    <th mat-header-cell *matHeaderCellDef>payment Date</th>
    <td mat-cell *matCellDef="let element">{{ element.paymentDate }}</td>
  </ng-container>

  <!--Action-->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      <section class="actions-wrapper"></section>
    </th>
    <td mat-cell *matCellDef="let element">
      <section class="actions-wrapper">
        <button mat-button color="primary" disableRipple>
          <mat-icon>edit_outline</mat-icon>
        </button>
      </section>
    </td>
  </ng-container>

  <!--Action-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter </td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>