<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fromDate" (ngModelChange)="filter()"
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <span> - </span>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="toDate" (ngModelChange)="filter()"
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.data.length > 0">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Course Column -->
  <ng-container matColumnDef="course">
    <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.course}} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <!-- Phone number Column -->
  <ng-container matColumnDef="phonenumber">
    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phonenumber}} </mat-cell>
  </ng-container>

  <!-- Paid Amount Column -->
  <ng-container matColumnDef="paidamount">
    <mat-header-cell *matHeaderCellDef> Paid Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.paidamount}} </mat-cell>
  </ng-container>


  <!-- Paid On Column -->
  <ng-container matColumnDef="paidon">
    <mat-header-cell *matHeaderCellDef> Paid On </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.paidon}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <!-- <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="6">No data matching the filter </td>
  </tr> -->
</mat-table>
<div *ngIf="dataSource.data.length === 0">No records found</div>