<div class="col-md-7">
      <table class="table table-styling ">
        <thead class="thead-dark">
        <tr >
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>@mdo</td>
          <td>9087543671</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>@fat</td>
          <td>9087543671</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
        <td>3</td>
          <td>Larry</td>
          <td>@twitter</td>
          <td>9087543671</td>
        </tr>
        </tfoot>
      </table>
  </div>



 