<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
  <!-- ID Column -->
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container> -->

  <!-- Name-->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="emailId">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
  </ng-container>

  <!-- Phone Number-->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
  </ng-container>

  <!--Action-->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      <section class="actions-wrapper"></section>
    </th>
    <td mat-cell *matCellDef="let element">
      <section class="actions-wrapper">
        <button mat-button color="primary" disableRipple>
          <mat-icon>edit_outline</mat-icon>
        </button>
      </section>
    </td>
  </ng-container>

  <!--Action-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
