/* You can add global styles to this file, and also import other style files */

@import "/scss/style";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


mat-card {
  width: 100%;
}
table.mat-table {
  thead {
    background-color: #bec1dc;
    th.mat-header-cell {
      text-transform: capitalize;
      font-weight: 600;
      color: #000;
    }
  }
  tbody {
    tr:nth-child(even) {
      background: #bec1dc;
    }
    }
    tfoot {
      .mat-column-noRecord {
        text-align: center;
      }
  }
  .mat-icon{
    font-size: 15px;
  }
}
.navbar-collapsed span.pcoded-mtext {
  display: none;
}
.pcoded-navbar.navbar-collapsed:hover span.pcoded-mtext {
  display: contents;
}
@media only screen and (max-width: 991px) {
  app-navigation{
      z-index: 1040;
  }
  .navbar-collapsed span.pcoded-mtext {
    display: contents;
  }
}

.mat-checkbox {
  .mat-checkbox-frame {
    border-color: #2d378c !important;
  }
}
.mat-checkbox-checked {
  .mat-checkbox-background {
    background-color: #2d378c !important;
  }
}

.mat-snack-bar-container {
  simple-snack-bar {
    span {
      font-size: 14px !important;
      font-weight: 600;
      color:  #1b2e8c!important;
    }
  }
  background-color:   #9ba1db !important;
  .mat-simple-snackbar-action .mat-button-wrapper {
    color: red !important;
    font-size: 14px !important;
  }
}

.primary{
  color:$primary !important;
}

.active {
  .ring {
    background-color: $primary !important;
  }
  .slide-text {
    color: $primary !important;
    cursor: default !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.dropdown-menu {
  a.dropdown-item:hover {
    background-color: $primary !important;
  }
}

span.pcoded-mtext {
  position: absolute !important;
  text-align: center;
  padding-top: 15px;
}
.mat-icon{
  font-size: 15px;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #9ba1db;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #9ba1db;
}
.cdk-overlay-container{
  z-index:1500;
  }
  .f-s-20{
    font-size: 20px !important;
  }