/* You can add global styles to this file, and also import other style files */

@import "/scss/style";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

mat-card {
  width: 100%;
}
table.mat-table {
  thead {
    background-color: #cecece;
    th.mat-header-cell {
      text-transform: capitalize;
      font-weight: 600;
      color: #000;
    }
  }
  tbody {
    tr:nth-child(even) {
      background: #ebebeb;
    }
  }
}

