<div class="auth-wrapper align-items-stretch reset-layout">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">
        <img src="assets/images/loogo.png" alt="" class="imgfluid">
        <h1 class="text-black my-4">Change securely!</h1>
        <h6 class="text-black text-align">Lurecap welcomes you to our share market trading training classes. We
          have best trainers who are highly
          qualified and experienced and have relevant industry exposure in their fields of expertise, capable of solving
          all your practical queries.</h6>
      </div>
    </div>
    <div class="auth-side-form">
      <div class=" auth-content">
        <img src="assets/images/loogo.png" alt="" class="imgfluid mb-4 d-block d-xl-none d-lg-none">
        <h3 class="mb-4 f-w-400">Reset Password</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="feather icon-mail"></i></span>
          </div>
          <input type="email" [(ngModel)]="mailId" #mailid="ngModel" name="mailId" [pattern]="emailPattern"
            class="form-control" placeholder="Enter Your Email Address" required />
        </div>
        <div *ngIf="mailid.invalid && (mailid.dirty || mailid.touched)" class="alerts m-b-20">
          <div *ngIf="mailid.errors.required">
            Email is required*
          </div>
          <div *ngIf="mailid.errors.pattern">
            Must be Email format*
          </div>
        </div>



      <button class="btn btn-block btn-primary m-b-0" (click)="getForgetPassword()">Reset password</button>
      <div class="text-center">
        <div class="my-4"></div>
        <p class="mb-0 text-muted"> <a class="f-w-400">Don’t have an account?</a></p>
      </div>
    </div>
  </div>
</div>
</div>