.btn-shadow{
    box-shadow: none;
    border-color: white;
}

.btn-allignment{
    position: absolute;
    right: 0;
    top: 10px;
}

.btn-frm
{
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

 .btn-back
 {
     margin-left: 20px;
 }

 .example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mt-crd {
    box-shadow: none;
  }
  .m-l-20{
      margin-left: 20px;
  }
