.btn-shadow{
    box-shadow: none;
    border-color: white;
}

.btn-allignment{
    position: absolute;
    right: 0;
    top: 10px;
}

.btn-frm
{
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

 .btn-back
 {
     margin-left: 20px;
 }

