<div *ngIf="!isEditTopic">
<mat-card class="col-lg-12">
    <div class="col-lg-9">
        <h4>Chapter Name: OOps Concept</h4>
    </div>
    <div class=" btn-allignment">
        <button mat-button>
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="editChapter()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</mat-card>

<mat-card class="col-lg-12 ">
    <div class=" btn-frm btn-shadow">
        <button mat-button>
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="edittopic()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <iframe src="https://player.vimeo.com/video/431414957" width="540" height="400" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 m-t-40">
            <div>Chapter Nmae: OOPs Concept</div>
            <div>Topic Name : Introduction</div>
            <div>URL Link: www.google.com</div>
            <div><br>Description:<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit anim id est laborum.</div>
        </div>
    </div>
</mat-card>

<button mat-button class="btn btn-primary float-right" (click)="isDetailsExit.emit(true)">Back</button>

</div>

<app-edit-topic *ngIf="isEditTopic" (isDetailsExit)="isEditTopic=false">

</app-edit-topic>