<div class="row">
    <div class="col-xl-8 col-md-6 ">
       <div class="card">
           <iframe src="https://player.vimeo.com/video/431414957" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
       </div>
     </div>
   
     <div class="col-xl-4 col-md-6 d-lg-inline d-none">
       <div class="card latest-update-card">
         <div class="card-header">
           <h5>Course Details</h5>
         </div>
           <div class="card-body">
             <div class="latest-update-box">
               <div class="row p-t-20 p-b-20">
                 <div class="col-auto text-right update-meta" >
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Devlopment & Update</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Showcases</h6>
                   </a>
                   <p class="m-b-0">Lorem dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-success update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Miscellaneous</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit ipsum amet, <a href="javascript:;" class="text-c-green"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Showcases</h6>
                   </a>
                   <p class="m-b-0">Lorem dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-success update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Miscellaneous</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit ipsum amet, <a href="javascript:;" class="text-c-green"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Devlopment</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit amet, <a href="javascript:;" class="text-c-green"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-0">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Showcases</h6>
                   </a>
                   <p class="m-b-0">Lorem dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
             </div>
           </div>
         <!-- </perfect-scrollbar> -->
       </div>
     </div> 
       <div class="col-sm-8">
           <div class="card-body">
               <h2>Description</h2>
               <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
           </div>
           <div>
             <button mat-button  (click)="isDetailsExit.emit(true)"  class="btn btn-primary float-left">Back</button>
             <button mat-button (click)="isDetailsExit.emit(true)"  class="btn btn-primary float-right">Next</button>
           </div> 
       </div>
   </div>
   
   <div class="col-xl-4 m-t-30 col-md-6  d-lg-none">
       <div class="card latest-update-card">
         <div class="card-header">
           <h5>Course Details</h5>
         </div>
           <div class="card-body">
             <div class="latest-update-box">
               <div class="row p-t-20 p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Devlopment & Update</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Showcases</h6>
                   </a>
                   <p class="m-b-0">Lorem dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-success update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Miscellaneous</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit ipsum amet, <a href="javascript:;" class="text-c-green"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Showcases</h6>
                   </a>
                   <p class="m-b-0">Lorem dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-success update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Miscellaneous</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit ipsum amet, <a href="javascript:;" class="text-c-green"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-20">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Devlopment</h6>
                   </a>
                   <p class="m-b-0">Lorem ipsum dolor sit amet, <a href="javascript:;" class="text-c-green"> More</a></p>
                 </div>
               </div>
               <div class="row p-b-0">
                 <div class="col-auto text-right update-meta">
                   <i class="b-primary update-icon ring"></i>
                 </div>
                 <div class="col p-l-5">
                   <a href="javascript:;">
                     <h6 class="m-0">Showcases</h6>
                   </a>
                   <p class="m-b-0">Lorem dolor sit amet, <a href="javascript:;" class="text-c-blue"> More</a></p>
                 </div>
               </div>
             </div>
           </div>
         <!-- </perfect-scrollbar> -->
       </div>
     </div> 
   