<div class="row">
  <div class="col-xl-12">
    <button mat-button (click)="isDetailsExit.emit(true)" class="btn btn-primary float-left">Back</button>
  </div>
  <div class="col-xl-8 col-md-6" style="padding-top: 20px;">

    <div class="card">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe [src]="url" class="embed-responsive-item" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe>
      </div>

    </div>
    <div>
      <button mat-button [disabled]="currentIndex==0" (click)="currentIndex=currentIndex-1;setCurrentSlide()"
        class="btn btn-primary float-left">Previous</button>
      <button mat-button (click)="currentIndex=currentIndex+1;setCurrentSlide()" class="btn btn-primary float-right">
        <ng-container *ngIf="(currentIndex+1)==this.courseTopicList.purchasedSlideListWithAttachement.length">Finish</ng-container>
        <ng-container *ngIf="(currentIndex+1)!=this.courseTopicList.purchasedSlideListWithAttachement.length">Next</ng-container>
      </button>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 d-lg-inline p-t-20">
    <div class="card latest-update-card">
      <div class="card-header">
        <h5 class="primary">{{chapter.chapterName}}</h5>
        <p class="m-t-10">Topics</p>
      </div>
      <div class="card-body">
        <div class="latest-update-box">
          <div class="row p-t-20 p-b-20" *ngFor="let item of courseTopicList.purchasedSlideListWithAttachement"
            [class.active]="item.slideId==slideId">
            <div class="col-auto text-right update-meta">
              <i class="b-primary update-icon ring"></i>
            </div>
            <div class="col p-l-5">
              <h6 class="m-0 slide-text" (click)="onSlideClick(item)">{{item.slideName}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-card class="m-t-20 slide-details">
    <p class="slide-desc">Description</p>
    <div [innerHTML]="description"></div>
    <p class="slide-attach">Slide Attachments</p>
    <div *ngFor="let item of slideAttachment; let i = index">
    <p>
      <a (click)="downloadAttach(item.virtualPath)" href="{{item.virtualPath}}">Attachment {{i+1}}</a>
    </p>
  </div>
  </mat-card>
</div>