<div class="row">
  <div class="col-xl-12">
    <button mat-button (click)="isDetailsExit.emit(true)" class="btn btn-primary float-left">Back</button>
  </div>
  <div class="col-xl-8 col-md-6" style="padding-top: 20px;">

    <div class="card">
      <!-- {{videoUrl}} -->
      <!-- <iframe [src]="url" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe> -->
      <!-- <iframe ng:src="{{videoUrl}}" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe [src]="url" class="embed-responsive-item" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe>
      </div>

    </div>
    <div>
      <h6> Topic Name: {{ slideName }}</h6>
      <button mat-button [disabled]="currentIndex==0" (click)="currentIndex=currentIndex-1;setCurrentSlide()"
        class="btn btn-primary float-left">Previous</button>
      <button mat-button (click)="currentIndex=currentIndex+1;setCurrentSlide()" class="btn btn-primary float-right">
        <ng-container *ngIf="(currentIndex+1)==this.courseTopicList.purchasedSlideList.length">Finish</ng-container>
        <ng-container *ngIf="(currentIndex+1)!=this.courseTopicList.purchasedSlideList.length">Next</ng-container>
      </button>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 d-lg-inline p-t-20">
    <div class="card latest-update-card">
      <div class="card-header">
        <h5 class="primary">{{chapter.chapterName}}</h5>
        <h5 class="m-t-20">Topics</h5>
      </div>
      <div class="card-body">
        <div class="latest-update-box">
          <div class="row p-t-20 p-b-20" *ngFor="let item of courseTopicList.purchasedSlideList">
            <div class="col-auto text-right update-meta">
              <i class="b-primary update-icon ring" [class.active]="item.slideId==slideId"></i>
            </div>
            <div class="col p-l-5" (click)="onSlideClick(item)">
              <a href="javascript:;">
                <h6 class="m-0">{{item.slideName}}</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card-body">
      <h5>Description</h5>
      <p>
        {{ description }}
      </p>
    </div>
    <div class="card-body">
      <h5>SlideAttachment</h5>
      <p>
        <a (click)="onSlideClick()" href="{{slideAttachment}}">click here to download</a>
      </p>
    </div>
  </div>
</div>


<div></div>